body{
    background-color: #FFFAE0;
    font-size: 0px
}
.container{
    display:flex;
    align-items: center;
    justify-content: center;
}
.LogoContainer{
    display:flex;
    flex-direction: column;
}
.logo{
    height: 140px;
    width: 200px;
    margin-top: 20%;
}

.text1{
    position: relative;
    bottom: 30px;
    left:30px;
    height: 80px;
    width: 150px;
}
.text2{
    position: relative;
    height: 80px;
    width: 90px;
    bottom:20px;
    left:50px;
}
.text3{
    position: relative;
    height: 80px;
    width: 100px;
    left:50px;
    bottom:40px;
}